<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-mobile")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jquery-mobile")*@
    @RenderSection("Head", false)
</head>
    <body>
        <div class="master-container">
            @RenderBody()    
        </div>
        @Scripts.Render("~/bundles/mycompany")
        @RenderSection("StartupScripts", false)
    </body>
</html>
