@using Turn5.AM.Core.Helpers
@model Turn5.AM.Models.Admin.MarketingInitiative.Initiative
<div id="edit-modal-container">
    @using (Html.BeginForm("SaveModal", "MarketingInitiative", null, FormMethod.Post))
    {
        <div>
            <label for="id" id="label-id">ID:</label>
            <span>@Model.Id</span>
            @Html.Hidden("id", Model.Id)
        </div>
        <div>
            <label for="name" id="label-name">Name:</label>
            @Html.TextBox("name", Model.Name, new Dictionary<string, object> { { "id", "name" } })
        </div>
        <div>
            <label for="generation" id="label-generation">Generation:</label>
            @Html.TextBox("generation", Model.Generation, new Dictionary<string, object> { { "id", "generation" } })
        </div>
        <div>
            <label for="type" id="label-type">Type:</label>
            @Html.TextBox("type", Model.Type, new Dictionary<string, object> { { "id", "type" } })
        </div>
        <div>
            <label for="url" id="label-url">Url:</label>
            @Html.TextBox("url", Model.Url, new Dictionary<string, object> { { "id", "url" } })
        </div>
        <div>
            <label for="alttext" id="label-alttext">Alt Text:</label>
            @Html.TextBox("alttext", Model.AltText, new Dictionary<string, object> { { "id", "alttext" } })
        </div>
        <div>
            <label for="catbanner" id="label-catbanner">Category Banner:</label>
            @Html.TextBox("catbanner", Model.CategoryBanner, new Dictionary<string, object> { { "id", "catbanner" } })
        </div>
        <div>
            <label for="searchbanner" id="label-searchbanner">Search Banner:</label>
            @Html.TextBox("searchbanner", Model.SearchBanner, new Dictionary<string, object> { { "id", "searchbanner" } })
        </div>
        <div>
            <label for="prodbanner" id="label-prodbanner">Product Banner:</label>
            @Html.TextBox("prodbanner", Model.ProductBanner, new Dictionary<string, object> { { "id", "prodbanner" } })
        </div>
        <div>
            <label for="prodicon" id="label-prodicon">Product Icon Overlay:</label>
            @Html.TextBox("prodicon", Model.ProductIconOverlay, new Dictionary<string, object> { { "id", "prodicon" } })
        </div>
        <div>
            <label for="homeslideimage" id="label-homeslideimage">Home Slide Image:</label>
            @Html.TextBox("homeslideimage", Model.HomeSlideImage, new Dictionary<string, object> { { "id", "homeslideimage" } })
        </div>
        <div>
            <label for="homeslidepos" id="label-homeslidepos">Home Slide Position:</label>
            @Html.TextBox("homeslidepos", Model.HomeSlidePosition, new Dictionary<string, object> { { "id", "homeslidepos" } })
        </div>
        <div>
            <label for="startdate" id="label-startdate">Start Date:</label>
            @Html.TextBox("startdate", Model.StartDate, new Dictionary<string, object> { { "id", "startdate" } })
        </div>
        <div>
            <label for="enddate" id="label-enddate">End Date:</label>
            @Html.TextBox("enddate", Model.EndDate, new Dictionary<string, object> { { "id", "enddate" } })
        </div>
        <div>
            <label for="enabled" id="label-enabled">Enabled:</label>
            @Html.CheckBox("enabled", Model.IsEnabled, new Dictionary<string, object> { { "id", "enabled" } })
        </div>
        <div>
            <label for="priority" id="label-priority">Priority:</label>
            @Html.TextBox("priority", Model.Priority, new Dictionary<string, object> { { "id", "priority" } })
        </div>
        <div id="modal-submission">
            <input id="cancel-button" type="button" value="Cancel" onclick="CancelClick()" />
            @Html.SubmitButton("Submit")
        </div>
    }
</div>
<div id="overlay" onclick="CancelClick();"></div>