@using Turn5.AM.Core.Helpers
@model Turn5.AM.Models.Admin.MarketingInitiative.Initiatives
<table id="mi-admin-grid">
    <thead>
        <tr id="pager">
            <td colspan="15">
                @Html.Partial("_InitiativesPager", Model)
            </td>
        </tr>
        <tr>
            <th class="hidden-element">ID</th>
            <th>@Html.Link("Name", Model.SortNameUrl)</th>
            <th>@Html.Link("Generation", Model.SortGenerationUrl)</th>
            <th>@Html.Link("Type", Model.SortTypeUrl)</th>
            <th>@Html.Link("Url", Model.SortUrlUrl)</th>
            <th>@Html.Link("Alt Text", Model.SortAltTextUrl)</th>
            <th>@Html.Link("Start Date", Model.SortStartDateUrl)</th>
            <th>@Html.Link("End Date", Model.SortEndDateUrl)</th>
            <th>@Html.Link("Enabled", Model.SortEnabledUrl)</th>
            <th>@Html.Link("Priority", Model.SortPriorityUrl)</th>
            <th>@* Products *@</th>
            <th>@* CMS Pages *@</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.InitiativesList != null)
        {
            foreach (var initiative in Model.InitiativesList)
            {
                <tr id="row-@initiative.Id" data-id="@initiative.Id">
                    <td class="hidden-element">@initiative.Id</td>
                    <td class="mi-name">@initiative.Name</td>
                    <td class="mi-generation">@initiative.Generation</td>
                    <td class="mi-type">@initiative.Type</td>
                    <td class="mi-url">@initiative.Url</td>
                    <td class="mi-alttext">@initiative.AltText</td>
                    <td class="mi-startdate">@initiative.StartDate</td>
                    <td class="mi-enddate">@initiative.EndDate</td>
                    <td class="mi-enabled">@(initiative.IsEnabled ? Html.Image(Url.Content("ClientResources/img/admin/checkmark.png"), string.Empty) : Html.Image(Url.Content("ClientResources/img/admin/checkmark-gray.png"), string.Empty))</td>
                    <td class="mi-priority">@initiative.Priority</td>
                    <td class="mi-prodlink"><a href="#">Prod</a></td>
                    <td class="mi-cmslink"><a href="#">CMS</a></td>
                    <td class="mi-delete">@Html.LinkWithImage(Url.Content("ClientResources/img/admin/delete.gif"), string.Empty, Url.MarketingInitiativesAdminUrl("DeleteMI", initiative.Id))</td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="initiative-edit-modal"></div>