@model MyCompany.Mvc.Models.ProductsModel

@{
    ViewBag.Title = "Products";
}

<h1>Products</h1>

@if (Model != null)
{
    <div style="width: 40px; overflow: hidden;">
        <div style="display: inline-block; float: left;">@Html.Link("<", "/products?page=" + (Model.Page == 1 ? 1 : (Model.Page - 1)) + "&pagesize=10")</div>
        <div style="display: inline-block; float: right;">@Html.Link(">", "/products?page=" + (Model.Page == 10 ? 10 : (Model.Page + 1)) + "&pagesize=10")</div>
    </div>
    <table>
        <tr>
            <td><strong>Product ID</strong></td>
            <td><strong>Product Name</strong></td>
            <td><strong>Product SKU</strong></td>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.ProductSKU</td>
            </tr>
        }
    </table>
}