@using MyCompany.Web.Mvc.Models
@model MyCompany.Web.Mvc.Models.FinanceModel

@{
    ViewBag.Title = "PaymentProvider";
}

@section Head 
{
    
}

<h1>eCommerce Pay Page</h1>

@using (Html.BeginForm("DoPost", "Finance", FormMethod.Post, new Dictionary<string, object> { { "id", "payment-form" } }))
{
    <div class="form-elements">
        @Html.LabelFor(m => m.TransactionType, "Transaction Type")
        @Html.TextBoxFor(m => m.TransactionType)
    </div>
    <div class="form-elements">
        @Html.LabelFor(m => m.NameOnCard, "Card Holders Name")
        @Html.TextBoxFor(m => m.NameOnCard)
    </div>
    <div class="form-elements">
        @Html.LabelFor(m => m.CreditCardNumber, "Credit Card Number")
        @Html.TextBoxFor(m => m.CreditCardNumber)
    </div>
    <div class="form-elements">
        @Html.LabelFor(m => m.CreditCardExpiration, "Credit Card Expiration")
        @Html.TextBoxFor(m => m.CreditCardExpiration)
    </div>
    <div class="form-elements">
        @Html.LabelFor(m => m.CreditCardType, "Credit Card Type")
        @Html.DropDownListFor(m => m.CreditCardType, Model.CreditCardTypes)
    </div>
    <div class="form-elements">
        @Html.LabelFor(m => m.Amount, "Dollar Amount")
        @Html.TextBoxFor(m => m.Amount)
    </div>
    
    <div class="form-elements">
        @Html.SubmitButton("Submit")
    </div>
}

@section StartupScripts
{

}