@model MyCompany.Web.Mvc.Models.ViewModelFun.EmployeeViewModel

@{
    ViewBag.Title = "ViewModelFun";
}

@section Head 
{
    
}

<h1>Employees</h1>

<div>
    <span>First Name: @Model.Employee.FirstName</span><br/>
    <span>Last Name: @Model.Employee.FirstName</span><br />
    <span>Role: @Model.Employee.EmployeeRole.Name</span><br />
</div>
<div>
    @Html.DropDownList("Id", Model.EmployeeSelectList, new { id = "employee-dropdown" })
</div>
<div>
    @Html.DropDownList("Id", Model.EmployeeRoleSelectList, new { id = "employee-role-dropdown" })
</div>

@using (Html.BeginForm("SaveEmployee", "Employee", null, FormMethod.Post, new { id = "form-employee" }))
{
    <div>
        @Html.LabelFor(model => model.Employee.FirstName)
        @Html.TextBoxFor(model => model.Employee.FirstName)    
    </div><br/>
    <div>
        @Html.LabelFor(model => model.Employee.LastName)
        @Html.TextBoxFor(model => model.Employee.LastName)    
    </div><br/>
    <div>
        @Html.LabelFor(model => model.Employee.EmployeeRole.Name)
        @Html.TextBoxFor(model => model.Employee.EmployeeRole.Name)    
    </div><br/>
    <div>
        @Html.SubmitButton("Save")
    </div>
}


@section StartupScripts
{

}